#about { /* ABSOLUTE ABOUT CONTAINER */
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: auto;
    width: auto;
}

#intro { /* INTRO TEXT CONTAINER */
    display: flex;
    justify-content: center;
    margin: auto;
    height: max-content;
    width: max-content;
    padding: 50px;
}

#intro h3 { /* INTRO TEXT */
    text-align: center;
    font-size: 20px;
}

#kaveO { /* INTRO kaveO NAME */
    font-family: myFont;
    font-size: 25px;
}

/* RESPONSIVE PART !!! */
/* RESPONSIVE PART !!! */
/* RESPONSIVE PART !!! */
/* RESPONSIVE PART !!! */
/* RESPONSIVE PART !!! */
