#home { /* HOME ABSOLUTE CONTAINER */ 
    margin-top: 100px;
    padding: 100px;
    text-align: center;
}

#pfp { /* HOME PROFILE PICTURE */ 
    width: 125px;
}

#id { /* HOME PROFILE ID */ 
    font-family: myFont;
    font-size: 50px;
    font-weight: 500;
    margin-top: 10px;
}

#hobbies { /* HOME PROFILE HOBBIES */ 
    letter-spacing: 2px;
    font-family: myFont;
    margin-top: 20px;
}

#socials { /* HOME PROFILE SOCIALS CONTAINER */ 
    margin-top: 20px;
    text-align: center;
}

#socials a { /* HOME PROFILE SOCIALS */ 
    border-radius: 10px;
    padding: 5px; 
    margin: 2px; 
}

