#home { /* HOME ABSOLUTE CONTAINER */ 
    margin-top: 100px;
    padding: 100px;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: auto;
}

#pfp { /* HOME PROFILE PICTURE */ 
    width: 125px;
}

#id { /* HOME PROFILE ID */ 
    font-family: myFont;
    font-size: 50px;
    font-weight: 500;
    margin-top: 10px;
}

#hobbies { /* HOME PROFILE HOBBIES */ 
    width: 100%;
    letter-spacing: 2px;
    font-family: myFont;
    margin-top: 20px;
}

#socials { /* HOME PROFILE SOCIALS CONTAINER */
    width: 100%;
    margin-top: 25px;
    text-align: center;
}

#socials img { /* HOME PROFILE SOCIALS IMAGES */
    width: 60px;
}

#socials img { /* HOME PROFILE SOCIALS */ 
    border-radius: 10px;
    padding: 5px; 
}

/* RESPONSIVE PART !!! */
/* RESPONSIVE PART !!! */
/* RESPONSIVE PART !!! */
/* RESPONSIVE PART !!! */
/* RESPONSIVE PART !!! */

 